/* font-family: 'DM Sans', sans-serif; */
/* variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
header .header-title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
header .header-title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #FFFFFF;
}
header .header-title-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFE9D5;
}
header .header-title-container .header-button {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: #FAF8F7;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #201E1C;
}
header .header-title-container .header-button:hover {
  cursor: pointer;
}
header .header-title-container .header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: #FAF8F7;
}
main .main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
main .main-exchenge-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../assets/img/Bitcoin.svg");
  /* buenas practicas para background-image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-exchange-text-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto; /* se posiciona en el centro SIEMPRE */
}
main .main-exchange-text-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #201E1C;
}
main .main-exchange-text-container p {
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #BABABA;
}
main .main-table-money {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Lexend", sans-serif;
}
main .main-table-money .main-table-money-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: #F7931A;
}
main .main-table-money .main-table-money-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
main .main-table-money .main-table-money-container table {
  width: 100%;
  height: 100%;
}
main .main-table-money .main-table-money-container table td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  color: #BABABA;
  background-color: #FFFFFF;
}
main .main-table-money .main-table-money-container .table-top-left {
  border-radius: 15px 0 0 0;
}
main .main-table-money .main-table-money-container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
main .main-table-money .main-table-money-container .table__top-rigth {
  border-radius: 0 15px 0 0;
}
main .main-table-money .main-table-money-container .table__bottom-rigth {
  border-radius: 0 0 15px 0;
}
main .main-table-money .main-table-money-container .table-rigth-value {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
main .main-table-money .main-table-money-container .down, main .main-table-money .main-table-money-container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .main-table-money .main-table-money-container .up {
  background-image: url("../assets/icons/trending-up.svg");
}
main .main-table-money .main-table-money-container .table-money-date {
  width: 230px;
  height: 30px;
  padding: 10px;
  margin: 0 auto;
  background-color: #FFE9D5;
  margin-top: 24px;
  line-height: 1.5rem;
  border-radius: 10px;
}
main .main-table-money .main-table-money-container .table-money-date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #201E1C;
  font-family: "Lexend", sans-serif;
}
main .comission-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Lexend", sans-serif;
}
main .comission-table .comision-table-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: #1A9AF7;
}
main .comission-table .comision-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
main .comission-table table {
  width: 100%;
  height: 100%;
}
main .comission-table table td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  color: #BABABA;
  background-color: #FFFFFF;
}
main .comission-table .table-top-left {
  border-radius: 15px 0 0 0;
}
main .comission-table .table__bottom-left {
  border-radius: 0 0 0 15px;
}
main .comission-table .table__top-rigth {
  border-radius: 0 15px 0 0;
}
main .comission-table .table__bottom-rigth {
  border-radius: 0 0 15px 0;
}
main .comission-table .table-rigth-value {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
main .comission-table .comision-update-date {
  width: 230px;
  height: 30px;
  padding: 10px;
  margin: 0 auto;
  background-color: #E7F5FF;
  margin-top: 24px;
  line-height: 1.5rem;
  border-radius: 10px;
}
main .comission-table .comision-update-date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #201E1C;
  font-family: "Lexend", sans-serif;
}
main .main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px; /* pixels minimos en celular */
  height: auto;
  padding: 20px 10px;
  background-color: #201E1C;
  color: #FFFFFF;
}
main .main-product-detail .batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -12px;
  left: calc(50% - 20px);
  background-image: url("../assets/icons/batata.svg");
}
main .main-product-detail .product-detail-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
main .main-product-detail .product-detail-title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}
main .main-product-detail .product-detail-title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
main .main-product-detail .real-time--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: #282623;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
main .main-product-detail .real-time--card .clock {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-image: url("../assets/icons/clock.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-product-detail .real-time--card .real-time--tile {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #FFFFFF;
}
main .main-product-detail .real-time--card .real-time-body {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: #FAF8F7;
}/*# sourceMappingURL=main.css.map */